DATABASE_URI=postgres://username:password@127.0.0.1:5432/db-name
PAYLOAD_SECRET=secret-key
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
CRON_SECRET=cronjob-secret
PREVIEW_SECRET=previewsecret


S3_ENDPOINT=https://example-connection.s3-accesspoint.us-east-2.amazonaws.com
S3_ACCESS_KEY_ID=ExampleAccessKey
S3_SECRET_ACCESS_KEY=ExampleSecretAccessKey
S3_BUCKET=bucket-name
S3_FORCE_PATH_STYLE=true
S3_REGION=region-name

PAYLOAD_CLOUD=true
PAYLOAD_CLOUD_ENVIRONMENT=prod
PAYLOAD_CLOUD_COGNITO_USER_POOL_CLIENT_ID=
PAYLOAD_CLOUD_COGNITO_USER_POOL_ID=
PAYLOAD_CLOUD_COGNITO_IDENTITY_POOL_ID=
PAYLOAD_CLOUD_PROJECT_ID=
PAYLOAD_CLOUD_BUCKET=
PAYLOAD_CLOUD_BUCKET_REGION=
PAYLOAD_CLOUD_COGNITO_PASSWORD=
